[package]
name = "clinkz-macro"
license.workspace = true
version.workspace = true
edition.workspace = true

[lib]
proc-macro = true

[dependencies]
axum.workspace = true
anyhow.workspace = true
thiserror.workspace = true
serde.workspace = true
serde_json.workspace = true

syn = "2.0"
quote = "1.0"
